.App{
  width: 100%;
  overflow-x: hidden;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.noraml-enter {
  opacity: 1;
  z-index: 1;
}

.normal-enter.normal-enter-active {
  opacity: 1;
}