.slider-list-content{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar{
    display:none;
  }
  .slider-list-item{
    flex: 0 0 auto;
    box-sizing:border-box;
    overflow:hidden;
  }
}